<div class="common-firstview">
  <picture class="common-firstview-bg">
    <source srcset="<%- path %>img/<%= current %>/<%= current %>-bg-sp.webp" media="(max-width: 767px)" />
    <img src="<%- path %>img/<%= current %>/<%= current %>-bg.webp" alt="" >
  </picture>
  <h1>
    <img src="<%- path %>img/title.svg" alt="BEAUTY & YOUTH MEN 2023 summer">
  </h1>
</div>