<%- include('./_listArr') %>

<% const current = 'look' %>
<%- include('./_head', { current }) %>

<main class="look">
  <%- include('./_nav', { current }) %>
  <%- include('./_firstview', { current }) %>

  <div class="look-contents">
    <%- include('./_lead') %>

    <% lookDatas.forEach(function(data, index) { %>
    <ul class="look-list">
      <% data.pcImgPaths.forEach(function(path, pathIndex){ %>
      <li class="look-list-item fadein <% if (pathIndex === 1) { %>delay<% } %>">
        <picture>
          <source srcset="<%= data.spImgPaths[pathIndex] %>" media="(max-width: 767px)" />
          <img src="<%= path %>" alt="" >
        </picture>
        <% if ((index % 2 === 0 && pathIndex === 1) || index % 2 !== 0) { %>
        <ul class="look-credit js-look-alignWidth-<%= index %> fadeinCredit<% if (index % 2 !== 0) { %><% if (pathIndex === 1) { %> pc-none<% } else { %> sp-none<% } %><% } %>">
          <% data.items.forEach(function(item){ %>
            <li class="look-credit-item js-alignWidth-standard fadeinCreditTarget">
             
              <% if (item.btn === 'BUY') { %>
              <a href="<%= item.link %>" class="look-credit-item-link">
                <p>
                  <strong><%= item.category %></strong> <%= item.brand %> <%= item.price %>
                </p>
                <span><%= item.btn %></span>
              </a>
              <% } else { %>
              <div class="look-credit-item-link js-ModalBtn" data-brand="<%= item.brand%>" data-num="<%= item.num%>">
                <p>
                  <strong><%= item.category %></strong> <%= item.brand %> <%= item.price %>
                </p>
                <span><%= item.btn %></span>
              </div>
              <% } %>
            </li>
          <% }) %>
        </ul>
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% }) %>
  </div>

  <%- include('./_footer', { current }) %>
  <%- include('./_modal') %>

</main>

</body>
</html>